@import './../../helpers/mixins.scss';

body {
  position: relative;
}

.header {
  @include flex($justify:space-between);
  position: relative;
  top: -4px;
  padding-top: 16px;
  padding-bottom: 16px;
  img {
    width: 30px;
    height: 30px;
    background-position: center;
    object-fit: cover;
    display: block;
  }
}
.header_position{
  position: static;
  margin: 20px auto;
}
