.catalog-wrap {
    
}

.catalog-wrapper{
    // display: grid;
    // grid-template-columns: 1fr 50%;
    grid-gap: 15px;
    display: flex;
    flex-flow: wrap;
   .loader {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%; 
   }
}