.staff{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 15px;
}
.secondActive_btn__link{
        font-size: 18px;
        font-weight: bold;
        border: none;
        height: 47px;
        margin-right: 25px;
        margin-left: 20px;
        text-align: center;
        border-bottom: 3px solid var(--color-green);
        color: black;
        p{
            margin-top: 15px;
        }
}
.second_btn__link{
    font-size: 18px;
    font-weight: bold;
    border: none;
    height: 47px;
    margin-right: 25px;
    margin-left: 20px;
    text-align: center;
    color: black;
    p{
        margin-top: 15px;
    }
}
.staff_route{
    display: flex;
}
.staff_active{
    border: 1px solid #B8D7A9;
    box-sizing: border-box;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    background-color:#B8D7A9;
    p{
        margin-top: 4px;
    }
}
.staff_unactive{
    border: 1px solid #B8D7A9;
    box-sizing: border-box;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    p{
        margin-top: 4px;
    }
}
.staff_status{
    display: flex;
    margin-top: 17px;
}