.user_btn{
        border: 2px solid var(--color-green);
        box-sizing: border-box;
        border-radius: 8px;
        width: 45px;
        height: 45px;
        background: #ffffff;
        margin-top: 20px;
}
