.user_btn{
        border: 2px solid var(--color-green);
        box-sizing: border-box;
        border-radius: 8px;
        width: 45px;
        height: 45px;
        background: #ffffff;
        position: relative;
        .user_persone__img1{
        background-image: url(./persone_black.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 9px;
        left: 11px;
        }
}
.user_info{
       background-color: #ffffff;
       border: 2px solid var(--color-green);
       box-sizing: border-box;
       border-radius: 8px;
       width: 180px;
       height: 170px;
       text-align: left;
       position: absolute;
       right: 18px;
       padding-top: 12px;
       z-index: 1;
       div{
        margin-bottom: 32px;
        margin-left: 20px;
        font-size: 18px;
        font-weight: bold;
        }
        p{
        margin-bottom: 32px;
        margin-left: 20px;
        font-size: 18px;
        }
        .user_persone__img{
        background-image: url(./persone_black.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 20px;
        height: 20px;
        position: absolute;
        right:12px;
        top: 9px;

   }
}
