@import './../global.scss';

.hello_text {
  margin-top: 16px;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 34px;
  p {
    font-family: $font;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }
}