@import './../global.scss';
@import './../../helpers/mixins.scss';
@import './../../helpers/variables.scss';
.hello_text {
  margin-top: 16px;
  @include flex($justify:space-between);
  padding-top: 15px;
  padding-bottom: 24px;
  p {
    font-family: $font;
    @include font(30px, 35px);
    letter-spacing: 0em;
    text-align: left;
  }
}