@import './../global.scss';
@import './../../helpers/mixins.scss';
@import './../../helpers/variables.scss';

.all_product_cart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  gap: 4px;
  margin: 0 -4px 16px -4px;
  .product_cart:first-child {
    margin: 0;
  }
  .product_cart:nth-child(2) {
    margin: 0;
    }
}