@import './../global.scss';
@import './../../helpers/mixins.scss';
@import './../../helpers/variables.scss';

.all_product_cart {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 16px;
  @media (max-width:425px) {
    justify-content: space-between;
  }
}