.pagination{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 56px;
    div{
        margin-right: 20px;
    }
    .pagination_box{
        width: 45px;
        height: 45px;
        border-radius: 8px;
        background-color: #B8D7A9;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
    }
    .vector_img__next{
        background-image: url(./vector_img__next.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
    .vector_img__prev{
        background-image: url(./vector_img__prev.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
    .opacity{
        opacity: 30%;
        pointer-events: none;
    }
}