$main-green: #4FB61E;
$presset-green: #389D07;
$default-color: transparent;
$extra-green: #B8D7A9;
$auxiliary-gray: #989797;
$extra-gray: #C4C4C4;
$fff-color: #fff;
$font: 'Roboto', sans-serif;
$center-text: center;
$black: #000; 