@import './../global';
@import './../../helpers/mixins.scss';
@import './../../helpers/variables.scss';
.wideWhiteButton {
    button {
      font-family: $font;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0.03em;

      background-color: $fff-color;
      color: $main-green;
      width: 379px;
      height: 53px;
      border-radius: 8px;
      border: none;
      border: 2px solid $main-green;
  
    }
    .default-btn {
      background-color: $default-color;
      color: $main-green;
      border: 2px solid $main-green;
      &:hover {
        background-color: $default-color;
      }
    }
   
}