@import url('./../global.scss');

.personal_btn {
  button {
    background-image: url('./img/Personal-area-icon.svg');
    &:hover {
      background-image: url('./img/bg-Personal-area-icon.svg');
      background-color: #fff;
    }
  }
}