@import './../global';
@import './../../helpers/mixins.scss';
@import './../../helpers/variables.scss';
.wideButton {
    button {
      font-family: $font;
      @include font(18px, 21px);
      letter-spacing: 0.03em;

      background-color: $main-green;
      color: $fff-color;
      text-align: center;
      width: 379px;
      height: 53px;
      border-radius: 8px;
      border: none;
      &:hover {
        background-color: $presset-green;
      }
    }
    .default-btn {
      background-color: $default-color;
      color: $main-green;
      border: 2px solid $main-green;
      &:hover {
        background-color: $default-color;
      }
    }
   
}