.registr_content{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
    align-items: center;
}
.registr_form{
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.registr_input{
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 2px solid #CECACE;
}
.registr_button{
    width: 200px;
    height: 30px;
    background: #4FB61E;
    color: #FFFFFF;
    font-weight: bold;
} 
h2{
    font-size: 24px;
    margin-bottom: 100px;
}
/* .registr_text{
    display: flex;
    text-align: center;
    justify-content:space-between;
}
.registr_text{
    font-size: 18px;
}

h3{
    font-size: 18px;
    opacity: 50%;
}
h2{
    font-size: 24px;
    margin-top: 100px;
}
.registr_input{
    width: 379px;
    height: 46px;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: 2px solid #CECACE;
    box-sizing: border-box;
    border-radius: 8px;
}

.registr_button{
    width: 377px;
    height: 53px;

    background: #4FB61E;
    border-radius: 8px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
} */
