@import './../global.scss';
@import './../../helpers/mixins.scss';
@import './../../helpers/variables.scss';

.back-button {
  margin-top: 87px;
  margin-bottom: 49px;
  font-family: $font;
  color: #797979;
  background: $fff-color;
  padding: 5px 10px;
  @include font(18px, 21px);
  border: none;
  border: 2px solid #fff;
  &:hover {
   border: 2px solid #C4C4C4;
   border-radius: 4px;
  }
}