.order_check{
    display: flex;
    border-bottom: 2px solid #B8D7A9;
    height: 50px;
    text-align: left;
    margin-top: 14px;
    h3{
        margin-top: 15px;
    }
}

.check_color{
    color:var(--color-green);
    width: 40px;
    height: 50px;
    text-align:center;
    svg{
        width: 25px;
        height: 25px;
}
}
.check_№{
    width: 40px;
    height: 50px;
    margin-right: 10px;
    h3{
        margin-left:10px ;
        margin-top: 15px;
    }
}
.check_time{
    width: 70px;
    height: 50px;
    margin-right: 20px;
    
}
.check_number{
    width: 166px;
    height: 50px;
}
.check_name{
    width: 200px;
    height: 50px;
}
.check_adres{
    width: 370px;
    height: 50px;
}
h3{
    font-size: 18px;
}