.admin_check{
    display: flex;
    border-bottom: 2px solid #B8D7A9;
    height: 50px;
    text-align: left;
    margin-top: 14px;
    background-color: var(--color-two);
    h3{
        margin-top: 15px;
    }
    .check_color{
        color:var(--color-green);
        width: 40px;
        height: 50px;
        text-align:center;
        svg{
            width: 25px;
            height: 25px;
    }
    }
    .check_№{
        width: 40px;
        height: 50px;
        h3{
            margin-left:10px ;
        }
    }
    .check_name{
        width: 250px;
        height: 50px;
    }
    .check_number{
        width: 166px;
        height: 50px;
        margin-right: 40px;
    }
    .check_salary{
        width: 166px;
        height: 50px;
    }
    .check_order{
        width: 166px;
        height: 50px;
    }
    h3{
        font-size: 18px;
    }
    .filter_icon{
        box-sizing: border-box;
        border-radius: 8px;
        width: 26px;
        height: 26px;
        border: 2px solid var(--color-green);
        position: absolute;
        top: 112px;
        right: 32.5px;
    }
    .check_goto{
        width: 120px;
        margin-left: 115px;
    }
}