
.favorite_heart {
  height: 30px;
  width: 30px;
  cursor: pointer;
  img {
    width: 100%;
    // &:hover {
    //   background: url('./red-heart.svg');
    //   background-repeat: no-repeat;
    //   background-position: center;
    // }
  }
    
}