@import '../../../common/helpers/mixins.scss';
@import '../../../common/helpers/variables.scss';

.shopping__cart {
    justify-content: space-between;
    height: 75px;

    .shopping__cart-left {
        margin-right: 10px;
        height: 100%;
    }
    .shopping__cart-left img{
width: 100px;
height: 70px;      
    }
    .shopping__cart-middle,
    .shopping__cart-right {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: start;
        width: 35%;
        .shopping__cart-count {
            width: 100%;
            justify-content: space-between;
        }

        .shopping__cart-thing {
            @include font(18px, 28px)
        }
    }

    .shopping__cart-right {
        align-items: flex-end;
        width: 25%;
    }




}