.search_input{
    width: 841px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    margin: 20px 0px 0px 0px ;
}
.search_icons{
    position: relative;
    bottom: 35px;
    right: 403px;
    color: var(--color-green);
    svg{
        width: 25px;
        height: 25px;
}
}
.search_input::placeholder{
    position: relative;
    left: 30px;
}