@import '../../common/helpers/mixins';
@import '../../common/helpers/variables';


* {box-sizing: border-box;}

body {
  font-family: $font;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,a,p {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  text-align: $center-text;
}


// Wide-button, Wide-white-button
.wideButton, .wideWhiteButton {
  @include flex();
  width: 100%;
}

// Footer button icons
 .footer_icon {
  padding: 5px 6px;
  cursor: pointer;
    button {
      border: none;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
  }
 }

//  Container

.container {
  margin: 0 16px;
}

img {
  width: 100%;
}

// Input

input {
  border-radius: 8px;
  height: 46px;
  width: 100%;
  @include font(18px, 21px);
  //font-size: 18px;
  //line-height: 21px;
}

// Flex
.flex {
  display: flex;
  align-items: center;
}

// Menu up

hr {
  margin-bottom: 100px;
  border: 1px solid $fff-color;
}
a{
  text-decoration: none; 
  color: black;
}