$main-green: #4FB61E;
$presset-green: #389D07;
$default-color: transparent;
$extra-green: #B8D7A9;
$auxiliary-gray: #989797;
$extra-gray: #C4C4C4;
$fff-color: #fff;
$font: 'Roboto', sans-serif;
$center-text: center;
$black: #000;

* {box-sizing: border-box;}

body {
  font-family: $font;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,a,p {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  text-align: $center-text;
}

// Wide-button, Wide-white-button
.wideButton, .wideWhiteButton {
  display: flex;
  justify-content: $center-text;
  align-items: $center-text;
  width: 100%;
}

// Footer button icons
 .footer_icon {
  padding: 5px 6px;
  cursor: pointer;
    button {
      border: none;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
  }
 }

//  Container

.container {
  padding: 0 16px;
}

img {
  width: 100%;
}

// Input

input {
  border: 2px solid $main-green;
  border-radius: 8px;
  height: 46px;
  width: 100%;
  font-size: 18px;
  line-height: 21px;
}