.courier_all{
    display: flex;
    border-bottom: 2px solid #B8D7A9;
    height: 50px;
    text-align: left;
}
.courier_all:nth-child(even){
    background-color: var(--color-two);
}
.courier_info{
    display: flex;
    border-bottom: 2px solid #B8D7A9;
    height: 50px;
    text-align: left;
    .info_color{
        color:var(--color-green);
        width: 40px;
        height: 50px;
        text-align:center;
        svg{
            width: 25px;
            height: 25px;
    }
    }
    .info_№{
        width: 40px;
        height: 50px;
        h4{
            margin-left:10px ;
        }
    }
    .info_name{
        width: 250px;
        height: 50px;
        h4{
            margin-left:10px ;
        }
    }
    .info_number{
        width: 166px;
        height: 50px;
        margin-right: 40px;
        h4{
            margin-left:10px ;
        }
    }
    .info_salary{
        width: 166px;
        height: 50px;
        h4{
            margin-left:10px ;
        }
    }
    .info_order{
        width: 166px;
        height: 50px;
        h4{
            margin-left:10px ;
        }
    }
    .info_status{
        width: 166px;
        height: 50px;
    }
    input{
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 15px;
    }
    h3{
        font-size: 18px;
    }
    .filter_icon{
        box-sizing: border-box;
        border-radius: 8px;
        width: 26px;
        height: 26px;
        border: 2px solid var(--color-green);
        position: absolute;
        top: 112px;
        right: 32.5px;
    }
}