.registration {
  margin-top: 116px;

  .registration_title {
    margin-bottom: 83px;
  }

  input {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 13px 0 12px 10px ;
    margin-bottom: 20px;
  }
  .wideWhiteButton {
    margin-top: 102px !important;
  }
}
