@import './../global.scss';
@import './../../helpers/mixins.scss';
@import './../../helpers/variables.scss';
.plus_mines {
  button {
    width: 30px;
    height: 30px;
    background-color: $main-green;
    border-radius: 8px;
    outline: none;
    border: none;
    @include flex();
     p {
      font-size: 30px;
      text-align: center;
      color: $fff-color;
     }
  }
 
}