@import './../global.scss';

.plus_mines {
  button {
    width: 30px;
    height: 30px;
    background-color: $main-green;
    border-radius: 8px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
     p {
      font-size: 30px;
      text-align: center;
      color: $fff-color;
     }
  }
 
}