.order_info{
    display: flex;
    border-bottom: 2px solid #B8D7A9;
    height: 50px;
    text-align: left;
}
.check_box{
    color:#4FB61E;
    width: 40px;
    height: 50px;
    margin-top: 15px;
    text-align: center;
}
.check_№{
    width: 40px;
    height: 50px;
}
.check_id{
    width: 101px;
    height: 50px;
}
.check_time{
    width: 70px;
    height: 50px;
}
.check_number{
    width: 166px;
    height: 50px;
}
.check_name{
    width: 200px;
    height: 50px;
}
.check_adres{
    width: 370px;
    height: 50px;
}
.check_dot{
    width: 50px;
    height: 50px;
    margin-top:15px;
    color: #4FB61E;
}
h3{
    margin-top: 15px;
}
