@import './../../common/helpers/mixins.scss';
@import './../../common/helpers/variables.scss';

.header_cart {
  padding-top: 12px;
}

.description {
  .title {
    @include font(34px, 39px);
    margin-bottom: 15px;  
  }
  .price {
    @include font(24px, 28px);
    margin-bottom: 15px;
  }
  .title-descripton{
    margin-bottom: 15px;
  }
  span{
  color: $auxiliary-gray;
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
  }
  .big_description{
    margin-bottom: 15px;
  }
}
