.add_flex{
    display: flex;
    h3{
        margin-right: 160px;
    }
    svg{
        color: var(--color-green);
    }
}
.add_flex1{
    display: flex;
    margin-top: 24px;
    p{
        width: 170px;
        text-align: left;
        margin-right: 85px;
    }
    input{
        width: 24px;
        height: 24px;
    }
}