@import url('./../global.scss');
@import './../../helpers/mixins.scss';
@import './../../helpers/variables.scss';
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  bottom: 0px;
  background: #fff;
  box-shadow: 0px -5px 4px -5px rgba(0, 0, 0, .2);
}
.footer_menu {
  padding: 9px 26px 3px 26px;
  @include flex($justify:space-between);
}