.goods_filter__icon{
    background-image: url(./filter_icon__img.svg);
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 112px;
    right:28px;
}
.goods_filter{
    width: 280px;
    border: 2px solid var(--color-green);
    position: absolute;
    top: 100px;
    right: 16px;
    font-size: 18px;
    padding: 10px;
    background-color: #fff;
    div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        height: 21px;
    }
    .goods_icon{
        background-image: url(./filter_icon__img.svg);
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
    }

}
.custom-radio{
    display: flex;
    justify-content: space-between;
}
.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    
  }
  .custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: absolute;
    right: 0;
  }
  .custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-radio>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  .custom-radio>input:checked+span::before {
    border-color: var(--color-green);
    background-color: var(--color-green);
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }