.add_btn{
    width: 124px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    margin: 20px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
}
.add_info{
    width: 150px;
    height: 155px;
    border: 2px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    text-align: left;
    position: absolute;
    top: 90px;
    left: 1225px;
    background-color: #FFFFFF;
    h3{
        margin-bottom: 32px;
        margin-left: 20px;
        font-size: 18px;
        margin-top: 10px;
    }
    p{
        margin-bottom: 32px;
        margin-left: 20px;
        font-size: 18px;
    }
}