.add_content{
    .modal_content_add{
        padding: 10.5px;
        border: 2px solid #4FB61E;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 8px;
        height: 85%;
        max-height: 650px;
        overflow: auto;
        width: 400px;
        font-size: 18px;
    }
}
.add_btn{
    width: 124px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.add_revers{
    font-weight: bold;
}
.add_info{
    width: 189px;
    height: 200px;
    border: 2px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    right: 19.5px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    z-index: 100;
    button{
        margin-bottom: 27px;
        margin-left: 20px;
        font-size: 18px;
        background-color: #FFFFFF;
        border: none;
        width: 100px;
        cursor: pointer;
        p{
            text-align: left;
        }
    }
}
