.add_btn{
    width: 124px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}
.add_info{
    width: 130px;
    height: 155px;
    border: 2px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    top: 42px;
    text-align: left;
    right: 425px;
    background-color: #FFFFFF;
    h3{
        margin-bottom: 32px;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 19px;
    }
    p{
        margin-bottom: 32px;
        margin-left: 19px;
        font-size: 18px;
    }
}