.add_btn{
    width: 124px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #4FB61E;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 20px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
}