.branch_flex{
    display: flex;
    h3{
        margin-right: 195px;
    }
    svg{
        color: var(--color-green);
    }
}
.branch_flex1{
    display: flex;
    margin-top: 24px;
    p{
        width: 170px;
        text-align: left;
        margin-right: 95px;
    }
    input{
        width: 24px;
        height: 24px;
        margin-left: 5px;
    }
}
