.branch_flex{
    display: flex;
    h3{
        margin-right: 185px;
    }
    .branch_vector__img{
        background-image: url(./vector_img.svg);
        background-repeat: no-repeat;
        width: 15px;
        height: 12px;
    }
    .branch_vector__img2{
        background-image: url(./vector_img2.svg);
        background-repeat: no-repeat;
        width: 15px;
        height: 12px;
    }
}
.branch_flex1{
    display: flex;
    margin-top: 24px;
    p{
        width: 255px;
        text-align: left;
        margin-right: 10px;
    }
    input{
        width: 24px;
        height: 24px;
       
    }
}
