.main{
    margin: auto 0px;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.home_content{
    border: 2px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    width: 1080px;
    height: 860px;
   
}
.header{
    display: flex;
    justify-content: space-around;
}
