@import '../../common/components/global';

.registration_confirmation_code {
  height: 100vh;

  .back-button {
    margin-top: 45px;
    margin-bottom: 69px;
  }

  p {
    text-align: center;
    color: $auxiliary-gray;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
  }
  .wideWhiteButton {
    button {
      margin-bottom: 20px;
    }
  }
}

// CSS Inputs Styles
// .code-input {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }
// .code-label {
//   margin-bottom: 16px;
// }
// .code-inputs {
//   display: flex;
//   justify-content: start;
//   align-items: center;
// }
// .code-inputs input {
//   box-shadow: none;
//   text-align: center;
//   height: 60px;
//   width: 40px;
//   border-radius: 10px;
//   margin: 0 4px;
//   border: 2px solid #CECACE;;
//   font-size: 38px;
//   padding: 0;
// }
// .code-inputs input:focus {
//   outline: none;
// }
