@import '../../common/components/global';
@import '../../common/helpers/mixins';
@import '../../common/helpers/variables';

.registration_confirmation_code {
  height: 100vh;

  .back-button {
    margin-top: 45px;
    margin-bottom: 69px;
  }

  p {
    text-align: center;
    color: $auxiliary-gray;
    font-weight: bold;
    @include font(16px, 19px);
    margin-top: 10px;
  }
  .wideWhiteButton {
    button {
      margin-bottom: 20px;
    }
  }
}

