.salary_table{
    text-align: left;
    .table_line:nth-child(even){
        background-color:var(--color-two);
    }
    .table_line{
        display: flex;
        height: 50px;
        align-items: center;
        font-size: 18px;
        border-bottom: 1px solid #B8D7A9;
        p{
            font-weight: 400;
        }
        .line_№{
            width: 30px;
            margin-right: 38px;
            padding-left: 10px;
        }
        .line_day{
            width: 190px;
            margin-right: 32px;
            padding-left: 10px;
        }
        .line_salary{
            width: 156px;
            margin-right: 60px;
            padding-left: 10px;
        }
    }
}