.menu_flex{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.logo{
    font-size: 48px;
    font-weight:700;
    margin-top: 20px;
    font-family: "Roboto";
}
.menu_buttons{
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    width: 298px;
    height: 60px;
    border-color:#FFFFFF;
    font-weight: bold;
    border: none;
    width: 280px;
    text-align: left;
    padding-left: 10px;
}
.menu_wrapper{
    width: 300px;
    border: 2px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    height: 860px;
    margin-right: 20px;
   
}
.color{
    background-color: #B8D7A9;
    width: 297px;
}