.menu_flex{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.logo{
    font-size: 48px;
    font-weight:700;
    margin-top: 20px;
    font-family: "Roboto";
}
.menu_link{
    font-size: 18px;
    width: 300px;
    height: 60px;
    font-weight: bold;
    border: none;
    text-align: left;
    align-items: center;
    color:black;
    p{
        margin-left: 10px;
        margin-top: 17px;
        font-size: 20px;
    }
}
.active_menu__link{
    font-size: 18px;
    width: 295px;
    height: 60px;
    font-weight: bold;
    border: none;
    text-align: left;
    background-color: #B8D7A9;
    color:black;
    p{
        margin-left: 10px;
        margin-top: 17px;
        font-size: 20px;
    }
}
.menu_wrapper{
    width: 300px;
    border: 3px solid var(--color-green);
    box-sizing: border-box;
    border-radius: 8px;
    min-height: 1105px;
    height: 100%;
    margin-right: 20px;
}
.color{
    background-color: #B8D7A9;
    width: 297px;
}